body {
  margin: 0;
  background: #fff;
  font-family: Georgia, serif;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
}

.text {
  padding: 60px;
}

h4 {
  letter-spacing: 4px;
}

h1 {
  font-size: 80px;
  color: #b36b1c;
}

.image {
  background: url("../../assets/flowers.webp") center/cover no-repeat;
}

  #qr-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: white;
  padding: 8px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0,0,0,.15);
}
